name: Build extension zip

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-zip:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: E-zamowienia - Open offer in new tab
          path: |
            .
            !.git/**
            !.github/**
            !promo/**
            !promo-src/**
            !screenshots/**
